{% extends 'tabs_bootstrap4.html.twig' %}

{% block menu1 %} Général étape 1/3{% endblock %}
{% block titremenu1 %}Nouvelle source{% endblock %}
{% block corpsmenu1 %}
    <div class="bgc-white p-20 bd">
        <h6>Informations générales</h6>
        <hr/>
        <div class="mT-30">
            {{ form_start(form) }}
            {# Les erreurs générales du formulaire. #}
            {{ form_errors(form) }}
            {# Génération du label + error + widget pour un champ. #}
            {# Génération manuelle et éclatée : #}
            <div class="form-group">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">Intitulé</label>
                        <input type="email" class="form-control" id="intitule" placeholder="Intitulé">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">URL</label>
                        <input type="email" class="form-control" id="url" placeholder="url">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">Site</label>
                        <input type="email" class="form-control" id="site" placeholder="site">
                    </div>
                </div>
                    <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="typehtml" value="option1">
                            <label class="form-check-label" for="typehtml">HTML</label>
                        </div>
                    </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input " type="radio" name="inlineRadioOptions" id="typrrss" value="option2">
                            <label class="form-check-label" for="typrrss">RSS</label>
                        </div>
                    </div>
                    </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <div class="gap-10 peers float-right">
                            <div class="peer"><button type="button" class="btn cur-p btn-outline-primary"> < Précédent </button></div>
                            <div class="peer"><button type="button" class="btn cur-p btn-outline-primary">Suivant ></button></div>
                        </div>
                    </div>
                </div>
                {{ form_rest(form) }}
                {# Fermeture de la balise <form> du formulaire HTML #}
                {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block menu2 %}URLS étape 2/3{% endblock %}
{% block titremenu2 %}Urls des pages des actualites{% endblock %}
{% block corpsmenu2 %}

    <div class="bgc-white p-20 bd">
        <h6 class="c-grey-900">Start Urls</h6>
        <hr/>
        <div class="mT-30">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">URL</label>
                        <input type="email" class="form-control" id="url" placeholder="url">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <div class="gap-10 peers float-right">
                            <div class="peer"><button type="button" class="btn cur-p btn-outline-primary">Annuler</button></div>
                            <div class="peer"><button type="button" class="btn cur-p btn-primary">Suivant ></button></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block menu3 %}Patterns étape 3/3{% endblock %}
{%  block cas3 %}
{% block titremenu3 %}Identification des patterns{% endblock %}
    <hr>
{% block corpsmenu3 %}
<div class="bgc-white p-20 bd">
    <h6 class="c-grey-900">Patterns</h6>
    <hr>
    <div class="mT-30">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">Pattern pour récupérer l'url de l'actualité * </label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="pattern url">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">Pattern pour récupérer le titre de l'actualité *</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="ppatern titre">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">Pattern pour récupérer la description de l'actualité *</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="pattern description">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">Pattern pour récupérer l'url de la page suivante des actualités *</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="pattern de l'url de la page suivante">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">Pattern pour récupérer la date de pulication de l'article</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="pattern date publication">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">Pattern pour récupérer la date de modification de l'article</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="pattern date modification">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <div class="gap-10 peers float-right">
                            <div class="peer"><button type="button" class="btn cur-p btn-outline-primary">< Précédent</button></div>
                            <div class="peer"><button type="button" class="btn cur-p btn-primary">Ajouter</button></div>
                        </div>
                    </div>
                </div>

            </form>
       </div>
</div>
{% endblock %}
{% endblock %}
{% block javascripts %}
    <script>
        $(function(){

            var tab = 1;

            $('#suivant').click(function(e){
                e.preventDefault();
                if(tab>3){
                    tab = 1;
                }else{
                    tab++;
                }
                $('#myTab .nav-item a[href="#'+tab+'"]').tab('show');
            });

        });
    </script>
    <script>
        $(document).ready(function () {
            if (!$.browser.webkit) {
                $('.wrapper').html('<p>Sorry! Non webkit users. :(</p>');
            }
        });
    </script>
{% endblock %}
