{% extends 'adminatortemplate.html.twig' %}


{% block corps %}
    <h4>ID: {{ actualite.id }}</h4>
    <h6>titre: {{ actualite.titre }}</h6>
    <p>descriptions: {{ actualite.description }}</p>
{% endblock %}
